{% extends "layout.html" %}

{% block title %}
    Index
{% endblock %}

{% block main %}
    <form action="/training" method="post">
      <div id="programinfomation">
        <h2>*Program Title - Day*</h2>
        <p>*Description of the day*</p>
      </div>  
      <div class="container" id="settable">           
      </div>
      <div id="addexercisebutton">
        <table>
          <tr>
            <input type="button" value="Add Exercise" + onclick="addExercise()" id="addexercise">
          </tr>
        </table> 
      </div>
    </form>
{% endblock %}